extends layout/default.pug
include mixins/box-head.pug
block main
  //- div(class="box-head")
  //-   h1(class="inner-title") Trang chu 
  //-   div(class="inner-desc") Doan mo ta cua trang
  +box-head("Trang chuu", "Day la doan mo ta")