mixin formatDateTime(time)
    span #{moment(item).format("DD/MM/YYYY hh:mm:ss")}

mixin formatDate(time)        
    span #{moment(item).format("DD/MM/YYYY")}

mixin formatTime(time)
    p #{moment(item).format("hh:mm:ss")}